.filmReviews {
  padding-block: 35px;
  padding: 35px 72px 35px 78px;
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.reviewLabel {
  padding-left: 8px;
  font-size: 16px;
  line-height: 1.5;
  color: #767E94;
}