@import url('../../node_modules/normalize.css/normalize.css');

:root {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 1.8;
  color: #fff;
  background-color: #121829;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}