.header {
  padding-block: 16px;
  font-size: 16px;
  font-weight: 600;
  color: #A8AEBF;
  letter-spacing: 2%;
  background-color: rgb(18 24 41 / 80%);
  backdrop-filter: blur(40px);
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a.active {
  color: var(--fontColor) !important;
}